<div class="navbar"></div>
<div class="navbar-left">
    <div class="navbar-logo">
        <img src="/uploads/assets/conf.png" alt="Logo">
    </div>
    <a href="/admin" class="navbar-item">Dashboard</a>
    <a href="/admin/users?page=1" class="navbar-item">Usuarios</a>
    <a href="/admin/products?page=1" class="navbar-item">Productos</a>
    <a href="/admin/tickets" class="navbar-item">Pedidos</a>
</div>

<input type="text" id="search" placeholder="Buscar ticket..">
<table>
  {{#each tickets}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.purchaser}}</td>
      <td>{{this.code}}</td>
      <td>{{this.totalAmount}}</td>
      <td>{{this.purchase_datetime}}</td>
      <td><a href="/admin/users/edit/{{this._id}}">Editar</a></td>
      <td><a href="/admin/users/delete/{{this._id}}">Eliminar</a></td>
    </tr>
  {{/each}}
</table>