<div class="navbar"></div>
<div class="navbar-left">
    <div class="navbar-logo">
        <img src="/uploads/assets/conf.png" alt="Logo">
    </div>
    <a href="/admin" class="navbar-item">Dashboard</a>
    <a href="/admin/users?page=1" class="navbar-item">Usuarios</a>
    <a href="/admin/products?page=1" class="navbar-item">Productos</a>
    <a href="/admin/tickets" class="navbar-item">Pedidos</a>
</div>

<input type="text" id="search" placeholder="Buscar usuario...">
<table>
  {{#each users}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.role}}</td>
      <td>{{this.last_connection}}</td>

      <td><a href="/admin/users/edit/{{this._id}}">Editar</a></td>
      <td><a href="/admin/users/{{this._id}}">Eliminar</a></td>
    </tr>
  {{/each}}
</table>     